@import url(./reset.scss);
@import url(./variables/global.scss);
@import url(./themes/dark.scss);
@import url(./themes/light.scss);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-size: 32px;
  font: var(--font-family-main);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}
